---
import { Card, CardContent } from '@/components/ui/card'
import { Mail, Phone, LinkedinIcon, Github } from 'lucide-react'
---

<section id="contact" class="py-20 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
    >
      Get In Touch
    </h2>
    <Card className="max-w-2xl mx-auto">
      <CardContent className="p-6">
        <div class="grid gap-6">
          <div class="flex items-center space-x-4 mt-4">
            <Mail className="h-6 w-6 text-gray-600 dark:text-gray-400" />
            <div>
              <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                Email
              </p>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                sebshndz2001@gmail.com
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-4">
            <Phone className="h-6 w-6 text-gray-600 dark:text-gray-400" />
            <div>
              <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                Phone
              </p>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                +54 221 683-4808
              </p>
            </div>
          </div>
          <div class="flex items-center space-x-4">
            <LinkedinIcon
              className="h-6 w-6 text-gray-600 dark:text-gray-400"
            />
            <div>
              <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                LinkedIn
              </p>
              <a
                href="https://www.linkedin.com/in/sebastian-hernandez-10b49a266"
                class="text-sm text-blue-600 hover:underline dark:text-blue-400"
                target="_blank">linkedin.com/in/sebastian-hernandez-10b49a266</a
              >
            </div>
          </div>
          <div class="flex items-center space-x-4">
            <Github className="h-6 w-6 text-gray-600 dark:text-gray-400" />
            <div>
              <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                GitHub
              </p>
              <a
                href="https://github.com/ImportFromCBastian"
                class="text-sm text-blue-600 hover:underline dark:text-blue-400"
                target="_blank">github.com/ImportFromCBastian</a
              >
            </div>
          </div>
        </div>
      </CardContent>
    </Card>
  </div>
</section>
