---
import { fetchSkills } from '@/hooks/fetch'
import { Progress } from '@/components/ui/progress'

const skills = await fetchSkills()
---

<section id="skills" class="py-20 bg-gray-100 dark:bg-gray-900">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
    >
      My Skills
    </h2>
    <div class="max-w-2xl mx-auto">
      {
        skills.map((skill) => (
          <div class="mb-4">
            <div class="flex justify-between mb-1">
              <span class="text-base font-medium text-gray-700 dark:text-gray-300">
                {skill.name}
              </span>
              <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                {skill.level}%
              </span>
            </div>
            <Progress value={skill.level} className="w-full" />
          </div>
        ))
      }
    </div>
  </div>
</section>
