<nav
  class="flex p-4 rounded-b-lg justify-center backdrop-blur-2xl shadow-2xl mb-5 sticky min-w-80"
>
  <ul class="flex justify-around w-full">
    <li class="transition-transform duration-500 ease-in-out hover:scale-125">
      <a href="/">Resume</a>
    </li>
    <li class="transition-transform duration-500 ease-in-out hover:scale-125">
      <a href="/about">About me</a>
    </li>
    <li class="transition-transform duration-500 ease-in-out hover:scale-125">
      <a href="/projects">Developed</a>
    </li>
  </ul>
</nav>
